doctype html
html
    head
        title= title
        link(rel='stylesheet' href='/stylesheets/music.css')
        script(src="/javascripts/music.js") 
    body
        header.main-header
            a.back-link(href="/") ← Back to Home
            h1 Your Playlist
        main
            section#playlist-details
                h2 Détails de la Playlist
                .songs-container
                    each song in data
                        .song-card(href="https://www.youtube.com/watch?v="+song.videoId target="_blank")
                            h3= song.title
                            p Artiste : #{song.channelTitle || 'Inconnu'}
                            btn.context-menu-btn ⋮
                            .context-menu
                                button.context-menu-item Lecture
                                button.context-menu-item Supprimer
                                button.context-menu-item Partager
        div.pagination-buttons
            nav.pagination
    if currentPage > 1
        a.pagination-button(href=`?page=${currentPage - 1}`) Previous
    else
        span.pagination-button.disabled Previous

    if currentPage < totalPages
        a.pagination-button(href=`?page=${currentPage + 1}`) Next
    else
        span.pagination-button.disabled Next

