doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/music.css')
  body
    header.main-header
        a.back-link(href="/") ← Back to Home
        h1 Your Playlist
    main
      section#playlist-details
        h2 Détails de la Playlist
        .songs-container
          each song in data
            .song-card
              h3= song.title
              p Artiste : #{song.channelTitle || 'Inconnu'}
    nav.pagination
      if currentPage > 1
        a(href=`?page=${currentPage - 1}`) Previous
      else
        span.disabled Previous

      if currentPage < totalPages
        a(href=`?page=${currentPage + 1}`) Next
      else
        span.disabled Next
   
    